
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)),url(48071.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.header1{
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgb(249, 152, 67)),;
  background-position: center;
  background-size: cover;
  position: relative;
  
}

nav
{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items:center; 
}
img
{
    margin-right:auto;
    max-width: 40%;
    max-height:100%;
}
.nav-links li{
    display:inline-block
}   
.nav-links li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    position: relative;
}
.nav-links li a:hover
{
    background: white;
    color: dimgrey
}
/*-----------------login page-------------*/

/*----------------------------------------------------------------------*/
.text-area
{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;  
 
}
.text-area h1
{
    font-size: 62px;
    
}
.text-area p
{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
    
}
.login-btn
{
    display: inline-block;
    text-decoration: none;
    color:#ffff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
        
}
.login-btn:hover
{
    border: 1px solid rgb(227, 139, 45);
    background:rgb(227, 139, 45) ;
    transition: 1s;
    
}

/*-------------contact------------*/


.contact-section{
    padding: 100px;
  width: 87%;
   background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info{
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn{
  float: right;
  background: #2E94E3;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover{
  background: #0582E3;
}

@media screen and (max-width: 950px){
  .contact-section{
    flex-direction: column;
  }

  .contact-info, .contact-form{
    margin: 30px 50px;
  }

  .contact-form h2{
    font-size: 30px;
  }

  .contact-form .text-box{
    width: 100%;
  }
}